/* Glowing effect */
*{
  scroll-behavior: smooth;
  transition-duration: 0.2s;
}
.menu-card:hover{
  cursor: pointer;
  animation: glow .8s infinite alternate-reverse ;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #2759b5, 0 0 4px #86366d, 0 0 12px #0eb863;
  }
  100% {
    box-shadow: 0 0 10px #2759b5, 0 0 8px #86366d, 0 0 24px #0eb863;
  }
}
